################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/WordFrequency/bin
/WordFrequency/obj
/WordFrequencyTest/bin
/WordFrequencyTest/obj
.idea